<!DOCTYPE html>
<html
        lang="en"
        data-th-fragment="layout"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:include="admin-menu-fragment::head"></th:block>
    <script>
        $(document).ready(function() {
            $('#e2').select2({
                placeholder: "Галерия (първо изберете снимката за аватар)",
                allowClear: true,
                dropdownParent: $('#parent-dropdown-1')
            });
            $('#e3').select2({
                placeholder: "Жанр",
                allowClear: true,
                dropdownParent: $('#parent-dropdown-1')
            });
            $("#e4").select2({
                placeholder: "Тип",
                allowClear: true,
                dropdownParent: $('#parent-dropdown-3')
            });
            $("#e5").select2({
                placeholder: "Град",
                allowClear: true,
                dropdownParent: $('#parent-dropdown-3')
            });
        });
    </script>
</head>
<body class="top blue">
<div th:replace="admin-menu-fragment::top-icons"></div>
<div class="content">
    <div class="section column">
        <div class="c3 gr-c gr-2">
            <div class="blue-block align-start c3 gr-2">
                <form th:action="@{/edit-theatre}" th:object="${theatre}" method="post" class="c3 gr-gap-1-2">
                    <p class="t3 f6">Редактиране на театър</p>
                    <div class="c1 c5 gr-gap-1">
                        <div class="t1 f1 sm msg c2 text-left" th:text="${message}"></div>
                        <div class="c3 c2 gr-r gr-gap-3">
                            <input type="hidden" th:field="*{id}">
                            <div class="form-group select2 select2-container">
                                <input type="text" placeholder="Име" th:field="*{name}">
                            </div>
                            <div class="form-group fl-c">
                                <div class="select2 b-0">
                                    <select id="e2" class="scrollbar" th:field="*{gallery}" multiple>
                                        <option th:each="picture:${allPictures}"
                                                th:value="${picture.id}"
                                                th:text="${picture.name}"
                                        >
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select2">
                                    <select id="e3" class="scrollbar" th:field="*{genre}">
                                        <option value=""></option>
                                        <option th:each="playGenre:${allTheatreGenres}"
                                                th:value="${playGenre.id}"
                                                th:text="${playGenre.name}"
                                        >
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select2">
                                    <select id="e4" class="scrollbar" th:field="*{type}">
                                        <option value=""></option>
                                        <option th:each="type:${allTheatreTypes}"
                                                th:value="${type.id}"
                                                th:text="${type.name}"
                                        >
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select2">
                                    <select id="e5" class="scrollbar" th:field="*{town}">
                                        <option value=""></option>
                                        <option th:each="town:${allTowns}"
                                                th:value="${town.id}"
                                                th:text="${town.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group select2">
                                <textarea placeholder="Описание - до 6000 символа"
                                          th:field="*{description}">
                                </textarea>
                            </div>
                            <div class="form-group select2">
                                <textarea placeholder="Работно време - до 6000 символа (отделете всяко едно със запетая и един интервал)"
                                          th:field="*{workHours}">
                                </textarea>
                            </div>
                            <div class="form-group select2">
                                <textarea placeholder="Контакти - до 6000 символа (отделете всяко едно със запетая и един интервал)"
                                          th:field="*{contacts}">
                                </textarea>
                            </div>
                            <div id="parent-dropdown-1"></div>
                            <div id="parent-dropdown-2"></div>
                            <div id="parent-dropdown-3"></div>
                        </div>
                        <button type="submit" class="t3 f5 btn">Редактиране</button>
                    </div>
                </form>
            </div>
            <img th:src="${theatre.getGallery().get(1).path}">
        </div>
        <div class="bck-circle ed-pc"></div>
    </div>
</div>
<script>
    $(document).ready(function() {
        Scrollbar.init(document.getElementById("main-scrollbar"), { damping: 0.1, delegateTo: document });
    })
</script>
</body>
</html>